body{
    background-color: aqua;
    text-align: center;
    text-size-adjust: 45;
    text-transform: capitalize;
    background-repeat: no-repeat;
    text-decoration-color: black;
    background-size: cover;
    

}
