body{
    background-image: url(_38B8120.JPG);
    text-align: center;
    text-size-adjust: 45;
    text-transform: capitalize;
    background-repeat: no-repeat;
    text-decoration-color: black;
    background-size: cover;
    

}
